<div class="header">
<a> Help </a>
<a> <img [src]="'assets/Close-Cancel1.png'" alt="exiticon" width="20" height="20"> </a>
</div>

<div class="quizStart" [hidden] = "quizState != 'Quiz Start'">
  <title>{{quizState}}</title>
  <h1>Welcome {{name}}</h1>
  <p>Get ready to start the test</p>
  <p>You have {{quizTime}} minute(s) to take the test</p>
  <p>When you are ready select the start button</p>
  <button class="centerbutton" (click)="startQuiz()">Start</button>
</div>

<div class="quizPage" [hidden] = "quizState != 'Quiz Questions'">
  <h2>Question {{currentQuestion}} of {{questionCount}}</h2>
  <p>You have {{subscribeTimer * 1000 | date : "mm"}} minute(s) and {{subscribeTimer * 1000 | date : "ss"}} second(s) left.</p>
  <hr>
  <body>
    <b>Question:</b> {{questionList[currentQuestion].Question}}
  </body>
  <ol>
    <li *ngFor="let option of questionList[currentQuestion].Options; let i = index;">
      {{option}}
    </li>
  </ol>
  <div class="buttonGroup">
    <button class="leftbutton"  (click)="prevQuestion()" [hidden] = "currentQuestion == 1">Previous</button>
    <button class="rightbutton" (click)="nextQuestion()" [hidden] = "currentQuestion >= questionCount">Next</button>
    <button class="rightbutton" (click)="finishQuiz()"   [hidden] = "questionCount != currentQuestion">Finish</button>
  </div>
</div>
<div class="quizEnd" [hidden] = "quizState != 'Quiz Finish'">
  <img [src]="'assets/GreenTick.png'" alt="CheckBox" width="300" height="300">
  <h2>Congratulations!!!</h2>
  <h2>You have completed the test......</h2>
  <button class="centerbutton">View Results</button>
</div>